<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="main.css">
    <title> asdf </title>
  </head>
  <body>

    <div id = "left-panel"> </div>
    <div id = "right-panel"> </div>

    <div class = "title" id = "on_top">
      <h1> ASDF </h1>
    </div>

    <div id = "stats">
      <div id = "col1">
        <p class = "title"> Most recent wins </p>
        <ul class = "list" id = "recent_wins">
          <li> 1 </li>
          <li> 2 </li>
          <li> 3 </li>
          <li> 4 </li>
        </ul>
      </div>
      <div id = "col2">
        <p class = "title"> Currently online games </p>
        <ul class = "list" id = "currently_online">
          <li> 1 </li>
          <li> 2 </li>
          <li> 3 </li>
          <li> 4 </li>
        </ul>
        <p> <%= (games_played == 0 || games_played === undefined) ? "" : "You have played at least " + games_played + " game(s)." %>
        </p>
      </div>
      <div id = "col3">
        <p class = "title"> Recent games </p>
        <ul class = "list" id = "recent_games">
          <li> 1 </li>
          <li> 2 </li>
          <li> 3 </li>
          <li> 4 </li>
        </ul>
      </div>
    </div>
    <button id = "btn_start" onclick="window.location.href = 'game.html'"> Start game </button>

    <script src = "index.js"></script>
  </body>
</html>
