html {
  background: #181a1b;
  color: #e8e6e3;
  width: 100%;
}

/* Initial screen */
.title {
  text-align: center;
}

#on_top {
  z-index: 8;
  position: relative;
  font-size: 2em;
  transform: translateY(40vh);

  animation-delay: 2s;
  animation-duration: 1s;
  animation-name: slide_title;
  animation-fill-mode: forwards;
}

@keyframes slide_title {
  from {

  }
  to {
    transform: unset;
    font-size: 1em;
  }
}

#btn_start {
  /* display: inline-block;*/
  padding: 0.7em 1.6em;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  /* for some reason it was not transparent on firefox? */
  background-color: transparent;
  text-align: center;
  transition: all 0.2s;
  /*----------------------------------------------*/
  position: relative;
  float: right;
  margin-top: 4em;
  margin-right: 5em;

  transition: background-color 1.5s;
}

#btn_start:hover {
  color: #000000;
  background-color: #FFFFFF;
}

#btn_start:active {
  color: #FFFFFF;
  background-color: transparent;
}

#btn_start::before {
  content: "→";
}

#btn_start:after {
  content: "→";
}
/* for mobile */

@media all and (max-width: 30em) {
  #btn_start {
    display: block;
    margin: 0.4em auto;
  }
}

/* Columns */

#col1, #col2, #col3 {
  margin-left: 4%;
  border: 0.1em solid #FFFFFF;
  border-radius: 0.12em;
  float: left;
  width: 25%;
  overflow: auto;
  height: 65vh;     /* vs 75% */
}

#col1 {
  margin-left: 8%;
}

#stats .title {
  font-size: 1.6em;
}
/* #col3 {
    width: 25%;
    margin-left: 7%;
    float: left;
    border: 0.1em solid #FFFFFF;
    border-radius: 0.12em;
} */

.list {
  font-size: 1.4em;
  padding-left: 2.8em;
}

#game {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: white;
}

#loaded {
  display: none;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------- */
/* sliding animation */
#left-panel {
  position: absolute;
  width:50%;
  z-index: 7;

  top:0;
  background: #181a1b;

  height:100%;

  left: 0;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-name: slideoutleft;
  animation-fill-mode: forwards;
}

@keyframes slideoutleft {
  from {
    left: 0;
  }

  to {
    left:-50%;
  }
}

#right-panel {
  position: fixed;
  width:50%;
  z-index:7;

  top:0;
  background: #181a1b;

  height:100%;

  right: 0;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-name: slideoutright;
  animation-fill-mode: forwards;
}

@keyframes slideoutright {
  from {
    right: 0;
  }

  to {
    right:-50%;
  }
}
